<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apspcta0b4azf01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ca996c02-1879-43bf-b290-281c4802ebad/resourceGroups/APSPCTOARDRSG41/providers/Microsoft.Web/sites/apspcta0b4azf01</ResourceId>
    <UserName>$apspcta0b4azf01</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://apspcta0b4azf01.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>